{% extends 'menu/index.html' %}


{% block titulo %}
<div class="masthead-heading text-uppercase">Logout</div>
<!--<div class="masthead-subheading">Elige tu favorita!</div>-->
<!--<a class="btn btn-primary btn-xl text-uppercase" href="#portfolio">Elegí tu favorita!</a>-->                 
{% endblock titulo %}


{% block titulo_menu %}

{% endblock titulo_menu %}

{% block contenido %}

<!--genero un mensaje de que se deslogueo correctamente-->
<h4>
    <p style="color:red" align="center"> Se ha deslogueado correctamente, hasta pronto!</p>
</h4>

{% endblock contenido %}

{% block menu_contact %}
{% endblock menu_contact %}